/****** Script for SelectTopNRows command from SSMS  ******/
SELECT distinct [care_site_id]
      ,[care_site_name]
      ,[place_of_service_source_value]
	  ,care_site_source_value
  FROM [JHM_OMOP_20211203].[dbo].[care_site]
  where care_site_source_value in ('113039', '113041', '113029', '113042', '110106', '113004', '113023', '110107', '113085', '110400', '110826', '110306', '113095', '113062', '113014', '113028', '110301', '113000', '113025', '110204', '201100', '113034', '110205', '110500', '113031', '113096', '110101', '110300', '203100', '113035', '113063', '110200', '110203', '113027', '113043', '113009', '113002', '110401', '113030', '113024', '113038')
   /*
   care_site_id in ('25','30','31','46','49','50','51','57','58','61',
   '65','66','73','97','103','105','107','112','117','126',
   '127','128','130','131','132','133','134','137','138','141',
   '142','144','145','146','165','166','188','196','197')
   */