/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [sp_name]
      ,[concept_name]
      ,[table_name]
      ,[column_name]
      ,[varchar_parm_value]
      ,[int_parm_value]
      ,[comment]
      ,[active_YN]
  FROM [Analytics].[dbo].[Zeger_Covid_Parms]